<!DOCTYPE html>
<html>
<head>
  <!-- <script type="text/javascript" id="janrainCaptureDevScript">
(function() {
    if (typeof window.janrain !== 'object') window.janrain = {};
    if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};

    janrain.settings.tokenUrl = 'http://localhost:3000';

    function isReady() { janrain.ready = true; };
    if (document.addEventListener) {
      document.addEventListener("DOMContentLoaded", isReady, false);
    } else {
      window.attachEvent('onload', isReady);
    }

    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.id = 'janrainAuthWidget';

    if (document.location.protocol === 'https:') {
      e.src = 'https://rpxnow.com/js/lib/judith/engage.js';
    } else {
      e.src = 'http://widget-cdn.rpxnow.com/js/lib/judith/engage.js';
    }

    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(e, s);
})();
</script> -->

<script type="text/javascript" id="janrainCaptureDevScript">
(function() {
    if (typeof window.janrain !== 'object') window.janrain = {};
    if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};

    /* _______________ can edit below this line _______________ */

    janrain.settings.tokenUrl = 'http://localhost:3000';
    janrain.settings.type = 'modal';
    janrain.settings.appId = 'imjijgckmfhmcembdokc';
    janrain.settings.appUrl = 'https://judith.rpxnow.com';
    janrain.settings.providers = ["facebook","googleplus"];
    janrain.settings.providersPerPage = '6';
    janrain.settings.format = 'two column';
    janrain.settings.actionText = 'Sign in using your account with';
    janrain.settings.showAttribution = false;
    janrain.settings.fontColor = '#333333';
    janrain.settings.fontFamily = 'arial';
    janrain.settings.backgroundColor = '#FFFFFF';
    janrain.settings.width = '392';
    janrain.settings.modalBorderColor = '#000000';
    janrain.settings.modalBorderRadius = '10';
    janrain.settings.modalBorderWidth = '10';
    janrain.settings.modalBorderOpacity = '0.5';
    janrain.settings.buttonBorderColor = '#CCCCCC';
    janrain.settings.buttonBorderRadius = '5';
    janrain.settings.buttonBackgroundStyle = 'gradient';
    janrain.settings.language = '';
    janrain.settings.linkClass = 'janrainEngage';

    /* _______________ can edit above this line _______________ */

    function isReady() { janrain.ready = true; };
    if (document.addEventListener) {
      document.addEventListener("DOMContentLoaded", isReady, false);
    } else {
      window.attachEvent('onload', isReady);
    }

    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.id = 'janrainAuthWidget';

    if (document.location.protocol === 'https:') {
      e.src = 'https://rpxnow.com/js/lib/judith/engage.js';
    } else {
      e.src = 'http://widget-cdn.rpxnow.com/js/lib/judith/engage.js';
    }

    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(e, s);
})();
</script>



  <title>Janrain Tech Challenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
      <div class = "nav">
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path %>
        <% else %>
          <%= link_to_capturable "Sign in" %>

        <% end %>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= yield %>
    </div>

</body>
</html>
